# バイナリ、実行ファイル
/bin/
# キャッシュ、ログファイル
*.log
*.log.*
*.gz
# IDEやエディタ関連のファイル
.idea/
.vscode/
# バイナリデータ、実行結果
*.exe
*.exe~
*.dll
*.so
# 依存関係の管理
/vendor/
/go.sum
# ビルド関連のファイル
*.o
*.a
*.test
# プロジェクトの設定ファイル
/config.json
key.json
